*{
	padding:0px;
	margin:0px;
}
body{
		background:black;
	}
.st0{font-family:'FootlightMTLight';}
.st1{font-size:83.0285px;}
.st2{fill:gray;}

svg{
  width: 500px;
    height: 400px;
    text-align: center;
    fill: #16a085;
}
path#XMLID_5_ {
   
    fill: #16a085;
    filter: url(#blurFilter4);
}
path#XMLID_11_ ,path#XMLID_2_ {
    fill: #16a085;
}
.circle{
  animation: out 2s infinite ease-out;
  fill: #16a085;
}

#container{
  text-align:center;
}
.message{
	color:#16a085;
}
.message:after{
	content:"]";
}
.message:before{
	content:"[";
}

.message:after, .message:before {
  
  color: #16a085;
  font-size: 20px;
  -webkit-animation-name: opacity;
  -webkit-animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-name: opacity;
          animation-name: opacity;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
          margin:0 50px;
}

@-webkit-keyframes opacity {
  0%, 100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

@keyframes opacity {
  0%, 100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

@keyframes out {
  0% {r:1;  opacity: 0.9 ;}
  25%{r:5;  opacity: 0.3 ;}
  50%{r:10; opacity: 0.2 ;}
  75%{r:15;opacity:0.1;}
 	100% {r:20;opacity:0;}
}







	p {
	  text-align: center;
	  font-size: 30px;
	  margin-top: 0px;
	  color: rgba(8, 177, 149, 0.767);
	}









  /*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {

  padding: 0 0 30px 0;
  color: rgb(16, 235, 224);
  font-size: 14px;
}


  #footer .footer-top .footer-newsletter form input[type="submit"]:hover {
    background: #0bdaa6;
  }
  
  #footer .copyright {
  
    text-align: center;
    padding-top: 30px;
  }
  
  #footer .credits {
    padding-top: 5px;
    text-align: center;
    font-size: 13px;
    color: rgb(13, 224, 213);
  }
  
  #footer .credits a {
    color: #0cebdf;
  }
  
  @media (max-width: 575px) {
    #footer .footer-top .footer-info {
      margin: -20px 0 30px 0;
    }
  }


  

/*full completed*/
/* @ © Copyright IGORAZA. All Rights Reserved Designed by IGORAZA*/
/*Gowrishaankarvv*/
/*https://github.com/Gowrishankarvv*/

